body {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.jumbotron-back {
  background: white;
}
.wrap {
  margin: auto;
}

.container {
  width: 500px;
  margin: auto;
}

.posting-box > .custom-file {
  margin-bottom: 20px;
}

.date-time {
  font-size: 13px;
}
