body {
  height: 80vh;
}

.signup-intro{
  margin-top: 100px;
}

.section {
  padding: 1rem 1.5rem;
  max-width: 750px;
  margin: auto;
}

.help {
  display: block;
  font-size: 1rem;
  margin-top: 0.25rem;
}

#help-password, #help-password2 {
  margin-top: 0.5rem
}


.section {
  padding: 1rem 1.5rem;
  max-width: 700px;
  margin: auto;
}

.title {
  font-weight: 800;
  font-size: 5rem;
}

.subtitle {
  font-size: 2rem;
}

.check_dup {
  height: 2.65em;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  background: lightpink;
  opacity: 0.7;
  transition: all 0.3s;
}

.check_dup:hover {
  border: none;
  color: white;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.btn {
  background-color: lightpink;
  border-color: transparent;
}

.btnsignup {
  margin: auto;
}
