<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 파일 전송 -->
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet" />
    <!-- css, js -->
    <link rel="stylesheet" href="/static/css/diary.css">
    <script defer src="/static/js/home.js"></script>


    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
            // listing()
        })

        function saving() {
            let title = $('#title').val()
            let place = $('#place').val()
            let content = $("#content").val()
            let file = $('#file')[0].files[0]
            let form_data = new FormData()

            form_data.append("title_give", title)
            form_data.append("place_give", place)
            form_data.append("content_give", content)
            
            if ($('#file')[0].files.length == 0) {
                form_data.append("file_give", 'default.jpg')
                $.ajax({
                type: "POST",
                url: "/defaultDiary",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.href = "/";
                    }
                });
            } else {
                form_data.append("file_give", file)
                $.ajax({
                    type: "POST",
                    url: "/diary",
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert(response["msg"])
                        window.location.href = "/";
                    }
                });
            }
        }
    </script>
    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>
</head>

<body>
    <div class="wrap">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2>오늘도 돼지런</h2>
                <div class="posting-box">
                    <div class="form-group">
                        <input type="text" class="form-control" id="title" placeholder="타이틀" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="place" placeholder="어디서 드셨나요?" />
                    </div>
                    <div class="custom-file">
                        <label class="custom-file-label" for="file"></label>
                        <input type="file" class="custom-file-input" id="file">
                    </div>
                    
                    <div class="form-group">
                        <textarea class="form-control" accept="image/*" id="content" rows="3"
                            placeholder="내용 입력"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="saving()">저장하기</button>
                </div>
            </div>
</body>

</html>