{% extends 'nav.html' %}
{% block head %}
<style>
    body {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
    }

    inner {
        width: 100%;
        top: 10px;
        left: 10px;
    }

    .visual {
        display: block;
    }

    .cards {
        padding: 0 200px;
        display: block;
    }

    img {
        display: block;
    }

    .card-title {
        color: royalblue;
        font-weight: 700;
    }

    .card-text {
        font-weight: 600;
    }

    .date-time {
        font-size: 13px;
    }

    .card-columns .card {
        border-radius: 10px;
        margin: 20px 40px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all 0.5s;
        animation: fadein 4s;
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .card-columns .card:hover {
        transform: scale3d(1.03, 1.03, 1.2);
    }

    .card-columns .card-img-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
</style>

<script>
    function toggle_like(diary_id, type) {
        console.log(diary_id, type)
        let $a_like = $(`#${diary_id} a[aria-label='heart']`)
        let $i_like = $a_like.find("i")
        console.log($i_like)
        if ($i_like.hasClass("fa-heart")) {
            $.ajax({
                type: "POST",
                url: "/update_like",
                data: {
                    diary_id_give: diary_id,
                    type_give: type,
                    action_give: "unlike"
                },
                success: function (response) {
                    console.log("unlike")
                    $i_like.addClass("fa-heart-o").removeClass("fa-heart")
                    $a_like.find("span.like-num").text(response["count"])
                }
            })
        } else {
            $.ajax({
                type: "POST",
                url: "/update_like",
                data: {
                    diary_id_give: diary_id,
                    type_give: type,
                    action_give: "like"
                },
                success: function (response) {
                    console.log("like")
                    $i_like.addClass("fa-heart").removeClass("fa-heart-o")
                    $a_like.find("span.like-num").text(response["count"])
                }
            })
        }
    }
</script>

{% endblock %}

{% block body %}
{{ super() }}
<div class="inner">
    <section class="visual">
        <div class="cards">
            <div class="card-columns" id="cards-box">
                {% for diary in data %}
                <div class="card" id="{{ diary._id }}">
                    <img class="card-img-top" src="../static/articleIMGs/{{ diary.img }}" alt="No images">
                    <div class="card-body">
                        <h5 class="card-title">{{diary.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{diary.place}}</h6>
                        <p class="card-text">{{diary.content}}</p>
                        <p class="date-time">{{diary.date}}</p>
                        {% if user_info %}
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item is-sparta" aria-label="heart"
                                    onclick="toggle_like('{{diary._id}}', 'heart')">
                                    <span class="icon is-small">
                                        {% if diary.heart_by_me %}
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        {% endif %}
                                    </span>&nbsp;
                                    <span class="like-num">{{diary.count_heart}}</span>
                                </a>
                            </div>
                        </nav>
                        {% endif %}


                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
</div>
{% endblock body %}